@charset "UTF-8";
#journalNavContainer {
    float: left;
    width: 15%;
    margin: 100px 50px;
    font-size: 20px;
    line-height: 50px;
}

#navTitle{
	font-family: 'NanumBarunGothic';
	font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid red;
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

a {
   font-family: 'NanumBarunGothic';
   text-decoration: none;
   color: black;
}