<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Day20201228</display-name>
  <servlet>
    <servlet-name>InitParam</servlet-name>
    <jsp-file>/config.jsp</jsp-file>
    <init-param>
      <param-name>dirPath</param-name>
      <param-value>c:/test</param-value>
    </init-param>
    <init-param>
      <param-name>userid</param-name>
      <param-value>admin</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParam</servlet-name>
    <url-pattern>/config.jsp</url-pattern>
  </servlet-mapping>
</web-app>