@charset "UTF-8";

#greetings {
	text-align: justify;
	width: 70%;
/* 	   border:1px solid pink; */
	margin-left: 23%;
	margin-right: 15%;
	    display: flex;
}
/*인사말*/
#greetings_top {
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
/* 	border: 1px solid green; */
	margin-right: 13%;
	margin-left: 13%
}
.image_block{
	width:100%;
}
#greetings_top h1 {
	font-size: 30px;
}
/*인사말*/
#info {
	width: 750px;
	font-family: sans-serif;
	color: #353535;
	font-weight: bold;
	font-size: 1.2em;
	/* text-align: left;*/
}

/*테두리 씌어짐.*/


  /*   @media screen and (max-width: 1500px) {

         .image-block {
            width: 40%;
            margin-left: 10%;
            margin-right: 10%;
         }
		#info{
			width:50%;
		}
      }

      @media screen and (max-width: 1280px) {

         .image-block{
            width: 35%;
            margin-left: 5%;
            margin-right: 5%;
         }
         #info{
         	width:60%
         }

      }

      @media screen and (max-width: 980px) {
      #greetings {
         width: 30%;
         margin-left: 10%;
         margin-right: 10%;
      }
      
      .image-block{
         width: 40%;
         margin-left: 10%;
         margin-right: 10%;
      }

      }
*/
      @media screen and (max-width: 768px) {
      
      #greetings {
         width: 70%;
         margin-left: 10%;
         margin-right: 10%;
         display: inline-block;
      }
      
      .image-block{

         width: 70%;
         position: relative;
=======
         width: 80%;

      }
      
      #greetings_top h1 {
         font-size: 34px;
      }
      
      #info {
           width: 100%;
      }
         
      }

      @media screen and (max-width: 500px) {
      
     #greetings {
         width: 80%;
         
         
      }
         .image-block{
            display: none;
            
         }
         #info {
             width: 100%;
         }
      
}