@charset "UTF-8";

.Header{
	z-index: 1;
	height: auto;
    width: -webkit-fill-available;
    position: absolute;
    top: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 60px;
    padding: 20px 30px;
    -webkit-transition:position 0.5s, font-size 0.5s, color 0.5s, line-height 0.5s, padding 0.5s, background 0.5s, box-shadow 0.5s, -webkit-transform 0.5s;
    transition:position 0.5s, font-size 0.5s, color 0.5s, line-height 0.5s, padding 0.5s, background 0.5s, box-shadow 0.5s, transform 0.5s;
}

#logo{
	float:left;
}

#header_right{
	float: right;
    display: flex;
}

div#header_right a {
    margin-right: 10px;
}

#header_right div{
	padding-left: 20px;
}

#header_right a{
	text-decoration: none;
	color: rgb(168, 215, 253);
}

#main_search{
	position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: flex;
    -webkit-transition: width 0.5s, top 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, top 0.5s, transform 0.5s;
}

#main_searchbar{
	background: white;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    border-radius: 30px;
    display: flex;
    -webkit-transition: height 0.5s, -webkit-transform 0.5s;
    transition: height 0.5s, transform 0.5s;
}

#search_date, #search_title, #search_author{
	height: 100%;
    width: 100%;
    color: gray;
    border: none;
    padding: 0px;
    overflow: hidden;
    -webkit-transition: width 0.5s, border-bottom 0.5s, border-radius 0.5s, border-right 0.5s, display 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, border-bottom 0.5s, border-radius 0.5s, border-right 0.5s, display 0.5s, transform 0.5s;
}
#search_date:focus, #search_title:focus, #search_author:focus{
	outline: none;
}
#search_title{
    border-radius: 30px 0px 0px 30px;
    border-right: 2px solid lightgray;
}

#search_date{
	border-right: 2px solid lightgray;
}
#search_btn{
    display: table;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
    color: #258FFF;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, transform 0.5s;
}
.logout {
	color : white;
	text-decoration: none;
	margin-right: 20px;
}


