@charset "UTF-8";

#main_background{
	position: relative;
	background-image: url(../img/santorini.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px;
}

#main_writing{
	color: white;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    bottom: 30%;
    left: 5%;
}
#best_diary{
	width: auto;
    height: 900px;
    margin: 0px 200px;
}
#best_diary_title{
	padding: 100px 0px 30px 0px;
    font-size: 40px;
    font-weight: bold;
}

#first_diary{
	display: flex;
    height: 45%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px lightgrey;
}

#first_img{
	background-image: url(../img/frozen.PNG);
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#first_diary_content{
	width: 100%;
    padding: 0px 30px;
}

#first_title{
	font-size: 30px;
    font-weight: bold;
    padding-bottom: 30px;
}

#first_2ndLine{
	font-size: 25px;
    padding-bottom: 50px;
    display: inline-block;
    width: 100%;
}

#first_like{
	display: inline-block;
}

#first_author{
	display: inline-block;
	float: right;
}

#first_content{
	font-size: 20px;
}

.other_diarys{
	display: flex;
    padding: 30px 0px;
}

.other_diary{
	width: 100%;
    display: flex;
    margin-right: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px lightgrey;
    border-radius: 10px;
}

.other_diary .other_img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 80%;
}

#other_img1{
	background-image: url(../img/travel.jpeg);
}
#other_img2{
	background-image: url(../img/starlight.jpg);
}
#other_img3{
	background-image: url(../img/winter.jpg);
}

.other_diary_content{
	width: 100%;
    padding: 0px 20px;
}

.other_title{
	font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.other_2ndLine{
	float: right;
}

.other_like{
	padding: 20px 0px;
    float: right;
    font-size: 18px;
}

.other_author{
	padding: 20px 0px;
    float: right;
}